.mail-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.67rem;
    padding-left: 15rem;
    background-color: var(--mail-blue1);
    margin-bottom: rem;
    outline: red;
}
/* 
.mail-header nav a {
    margin: 0.5em;
}

.mail-header nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
} */

.mail-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 40rem;
    padding: 0.5rem 1rem;
    background-color: var(--mail-search-bg);
    border-radius: 2rem;

}

.mail-search img {
    width: 1.2rem;
    height: 1.2rem;
}

.mail-search input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--font-main);
}