.mail-sidebar .compose-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--mail-blue2);
    margin-left: 0.5rem;
    margin-bottom: 1rem;

    font-size: 0.9rem;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.mail-sidebar .compose-btn:hover {
    box-shadow: 0 2px 6px var(--gray1);
}

.mail-sidebar .compose-btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.folder-list {
    padding-right: 1rem;
}

.folder {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.4rem 1rem;
    border-radius: 0 1rem 1rem 0;

    font-size: 0.85rem;

    cursor: pointer;
}

.folder:hover {
    background-color: var(--mail-border);
}

.folder.active {
    background-color: var(--mail-blue3);
    font-weight: 700;
}

.folder img {
    width: 1.2rem;
    height: 1.2rem;
}

.folder-count {
    margin-left: auto;
}