 /* mail index  */

 .mail-index {
     display: grid;
     grid-template-columns: 15rem 1fr;
     height: 90vh;

     background-color: var(--mail-blue1);

     font-family: var(--font-main);
     letter-spacing: 0.02rem;
     line-height: 1;
 }



 .mail-content {
     overflow-y: auto;
     background-color: var(--white);
     border-radius: 1rem;
 }