.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 33, 36, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content.note-preview {
    width: 100%;
    max-width: 600px;
    min-height: 150px;

    cursor: default;
    display: flex;
    flex-direction: column;
}

.modal-content.note-preview:hover {
    background-color: inherit; 
}

.modal-content input, 
.modal-content textarea {
    width: 100%;
   
    border: none;
    background: transparent;
    outline: none;
    padding: 10px 0;
    font-family: inherit;
    resize: none;
}

.modal-content .title-input {
    font-weight: bold;
    font-size: 1.3rem;
}

.note-actions.modal-visible {
    opacity: 1;
    position: relative;
    margin-top: auto;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-save {
    background: transparent;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.btn-save:hover {
    background-color: rgba(60, 64, 67, 0.08);
}
