.note-index {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 100px 20px;
}
.note-index li {
    display: inline-block;
    width: 100%;
   
    break-inside: avoid;
    
   
    
    border-radius: 8px;
    
    box-sizing: border-box;
    
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.note-index > * {
    width: 100%;
    max-width: 600px;
}

.note-index > :first-child {
    margin-bottom: 2em;
}
.note-index > .modal-backdrop {
    max-width: none; 
    width: 100vw;
}
.bote-index {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;

    column-width: 250px;
    column-gap: 20px;
}

.bote-index > :nth-child(1) {
    column-span: all;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 40px auto;
}

.bote-index > :nth-child(1) > * {
    width: 100%;
    max-width: 600px;
}

.bote-index > :nth-child(2) {
    display: block;
    width: 100%;
}

.bote-index ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bote-index li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    
    border-radius: 8px;
    box-sizing: border-box;
    
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.bote-index, .note-index {
    flex-grow: 1;
    transition: all 0.2s ease-in-out;
}