.notes-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    list-style: none;
    padding: 0;
}

.notes-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--clr1bg-light);
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
}

.notes-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: 600ms;
}
.notes-list li:hover {
    background-color: rgba(95, 99, 104, 0.08) !important;
    box-shadow: 0 5px 3px 5px rgba(60,64,67,0.20);
}