.note-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.67rem;
    justify-content: space-between;
    gap: 20px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-container {
    display: flex;
    align-items: center;
    min-width: 232px; 
    flex-shrink: 0;
}
.note-header img {
   height: 100%;      
    max-height: 35px;   
    width: auto;        
    object-fit: contain;
}
.menu-btn {
    background: none;
    border: none;
    padding: 12px;
    cursor: pointer;
    margin-right: 4px;
    display: flex;
}
.logo-link {
    display: flex;
    align-items: center;
    font-size: 22px;
}
.search-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
    background-color: rgba(240, 243, 248);
    border-radius: 8px;
    width: 100%;
    margin-right: auto;
    max-width: 720px;
    height: 48px;
    padding: 0 10px;
    margin-left: 20px;
}
.search-container input {
    flex: 1;           
    width: 100%;
    border: none;
    background: transparent;
    outline: none;     
    font-size: 16px;
    padding: 10px;
}
.header-nav {
    display: flex;
    align-items:center;
    gap: 15px;         
    margin-left: 20px;  
   flex-shrink: 0;
}

.logotext {
    font-family: 'product-sans-regular'
}
.menu-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: background-color 0.15s ease;
}

.menu-btn:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.menu-btn:active {
    background-color: rgba(60, 64, 67, 0.15);
}

.menu-btn img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.menu-btn:hover img {
    opacity: 1;
}
.layout-toggle-btn, .header-icon-link {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 4px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* This is similar to the damn uhh, other menu buttons but I'm not sure if I can just add the same class to the other one willy nilly. Will check later.*/
    color: #5f6368;
    transition: background-color 0.15s, color 0.15s;
}
.layout-toggle-btn:hover, .header-icon-link:hover {
    background-color: rgba(60, 64, 67, 0.08);
    color: #202124;
}
.header-icon-link img {
    width: 18px; 
    height: auto;
}