.sidebar-container {
    width: 70px; 
   
    height: 100vh;
    flex-shrink: 0;
    transition: width 0.2s ease-in-out;
    background: white;
    z-index: 10;
    overflow: hidden;
    box-shadow: none !important;
    border-right: none !important;
}

.sidebar-container:hover,
.sidebar-open .sidebar-container {
    width: 300px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    padding-top: 20px;
     border-right: none !important;
    background: inherit;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 100%; 
    padding: 12px 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 0 25px 25px 0; 
    white-space: nowrap; 
}

.nav-item i {
    width: 30px; 
    font-size: 1.2rem;
    flex-shrink: 0;
}

.nav-item span { 
    opacity: 0;
    transition: opacity 0.2s;
    margin-left: 10px;
}

.sidebar-container:hover .nav-item span,
.sidebar-open .sidebar-container .nav-item span {
    opacity: 1;
}